<nav class="navbar is-warning">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item has-text-weight-semibold is-size-5">
      Book Catalogue
    </a>

    <button class="button navbar-burger burger is-warning" #burger (click)="toggleBurger()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-menu" id="menu" #menu (click)="disableBurger()">
    <div class="navbar-start">
      <a id="toAuthors" routerLink="/authors" class="navbar-item">Authors</a>
      <a id="toBooks" routerLink="/books" class="navbar-item">Books</a>
    </div>

    <div class="navbar-end">
      <a *ngIf="!authService.loggedIn" routerLink="/login" class="navbar-item">
        Login
      </a>
      <a *ngIf="!authService.loggedIn" routerLink="/register" class="navbar-item">
        Register
      </a>

      <a *ngIf="authService.loggedIn" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ authService.user.username }}</a>
        <div class="navbar-dropdown">
          <a (click)="logout()" class="navbar-item">Log out</a>
        </div>
      </a>
    </div>
  </div>

</nav>
