<nav class="navbar is-warning">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item has-text-weight-semibold is-size-5">
      Book Catalogue
    </a>

    <button class="button navbar-burger burger is-warning" #burger (click)="toggleBurger()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div class="navbar-menu" id="menu" #menu (click)="disableBurger()">
    <div class="navbar-start">
      <a routerLink="/authors" class="navbar-item">Authors</a>
      <a class="navbar-item">kettő</a>
      <a class="navbar-item">harom</a>
    </div>

    <div class="navbar-end">
      <a *ngIf="!authService.loggedIn" routerLink="/login" class="navbar-item">
        Login
      </a>
      <a *ngIf="!authService.loggedIn" routerLink="/register" class="navbar-item">
        Register
      </a>

      <a *ngIf="authService.loggedIn" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" routerLink="/profile" >{{ authService.user.username }}</a>
        <div class="navbar-dropdown">
          <a routerLink="/profile" class="navbar-item">Profile</a>
          <a (click)="logout()" class="navbar-item">Log out</a>
        </div>
      </a>
    </div>
  </div>

</nav>
