<section class="section">
  <div class="level notification">
    <div class="level-left">
      <div class="level-item">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input [(ngModel)]="searchTerm" (keyup)="searchBook(searchTerm)" class="input" type="text" placeholder="Search">
          </p>
          <p class="control">
            <a class="button is-warning" (click)="resetSearch()">
              Reset
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="level-right">
      <p class="title is-4">Add new book!</p>
    </div>
  </div>

  <div class="container">
    <div class="columns is-multiline has-text-centered">
      <div class="column is-4" *ngFor="let book of filteredBooks">
        <app-book-item [book]="book"></app-book-item>
      </div>
    </div>
  </div>
</section>
