.no-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-item {
  -webkit-filter: brightness(100%);
}

.book-item:hover {
  -webkit-filter: brightness(70%);
}
